:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: 1598px;
    height: 820px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }
  .bg {
    position: absolute;
    width: 705px;
    height: 820px;
    top: 0;
    left: 735px;
    background: #f2f2f2;
    z-index: 46;
  }
  .flex-row-ab {
    position: relative;
    width: 467px;
    height: 115px;
    margin: 37px 0 0 73px;
    z-index: 68;
  }
  .untitled {
    position: absolute;
    width: 197px;
    height: 170px;
    top: 5%;
    left: 0;
    background: url(../bosuutap/cd379dbf-a729-4266-8941-629bbbbdaf57.png)
      no-repeat center;
      border-radius: 20%;
    background-size: cover;
    z-index: 68;
  }
  .price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 59px;
    top: 56px;
    left: 212px;
    color: #56b280;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 21px;
    font-weight: 900;
    line-height: 57.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 65;
  }
  .line {
    position: relative;
    width: 410.003px;
    height: 2px;
    margin: 86px 0 0 65px;
    background: url(../image/images/9aa8c68a-70f5-42c6-8615-1cd4895643cf.png)
      no-repeat center;
    background-size: cover;
    z-index: 63;
  }
  .flex-row-c {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 411px;
    height: 40px;
    margin: 28px 0 0 65px;
    z-index: 61;
  }
  .bg-1 {
    flex-shrink: 0;
    position: relative;
    width: 285px;
    height: 40px;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 59;
  }
  .input {
    position: absolute;
    width: 285px;
    height: 40px;
    top: -0.5px;
    left: -0.5px;
    background: transparent;
    border: none;
    z-index: 60;
    outline: none;
  }
  .ma-giam-gia {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 23px;
    top: 8px;
    left: 7px;
    color: #000000;
    font-family: Noto Sans, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 74;
  }
  .button {
    flex-shrink: 0;
    position: relative;
    width: 116px;
    height: 40px;
    cursor: pointer;
    background: #a7a7a7;
    border: none;
    z-index: 61;
    border-radius: 4px;
  }
  .add-code {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 69.83%;
    height: 60%;
    top: 20%;
    left: 14.66%;
    color: #ffffff;
    font-family: Noto Sans, var(--default-font-family);
    font-size: 17.649999618530273px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    z-index: 62;
  }
  .line-2 {
    position: relative;
    width: 410.003px;
    height: 2px;
    margin: 26px 0 0 65px;
    background: url(../image/images/d5fdd91a-df97-4384-9784-2faa05bcd5ef.png)
      no-repeat center;
    background-size: cover;
    z-index: 56;
  }
  .flex-row-af {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 411px;
    height: 26px;
    margin: 15px 0 0 65px;
    z-index: 55;
  }
  .total-price-label {
    flex-shrink: 0;
    position: relative;
    height: 26px;
    color: #606060;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 55;
  }
  .price-3 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 26px;
    color: #272727;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: right;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 48;
  }
  .flex-row-fa {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 411px;
    height: 26px;
    margin: 12px 0 0 65px;
    z-index: 52;
  }
  .shipping-label {
    flex-shrink: 0;
    position: relative;
    height: 26px;
    color: #606060;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 52;
  }
  .shipping-method {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 26px;
    color: #606060;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: right;
    white-space: nowrap;
    z-index: 51;
  }
  .line-4 {
    position: relative;
    width: 410.003px;
    height: 2px;
    margin: 32px 0 0 65px;
    background: url(../image/images/5bbe1227-45bb-43c0-9578-ddace277b938.png)
      no-repeat center;
    background-size: cover;
    z-index: 49;
  }
  .flex-row-cd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 411px;
    height: 26px;
    margin: 15px 0 0 65px;
    z-index: 54;
  }
  .payment-label {
    flex-shrink: 0;
    position: relative;
    height: 26px;
    color: #606060;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 47;
  }
  .payment-price {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 0;
    position: relative;
    width: 190px;
    height: 26px;
    color: #272727;
    font-family: Roboto, var(--default-font-family);
    font-size: 24px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: right;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 54;
  }
  .untitled-5 {
    position: absolute;
    width: 89px;
    height: 42px;
    top: 13px;
    left: 50%;
    background: url(../bosuutap/1f6784f56612e6689fbe6772a18d72b0e7b34766.png)
      no-repeat center;
    background-size: cover;
    transform: translate(-716.85%, 0);
    z-index: 67;
  }
  .product-name {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    height: 37px;
    top: 61px;
    left: 1020px;
    color: #272727;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 20px;
    font-weight: 900;
    line-height: 37px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 66;
  }
  .step {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 78px;
    left: 165px;
    color: #272727;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 40px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 44;
  }
  .contact-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 148px;
    left: 165px;
    color: #272727;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 16px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 40;
  }
  .bg-6 {
    position: absolute;
    width: 27.85%;
    height: 4.88%;
    top: 22.68%;
    left: 10.33%;
    background: #ffffff;
    border: 0.5px solid #56b280;
    z-index: 38;
  }
  .input-7 {
    position: absolute;
    width: 445px;
    height: 40px;
    top: -0.5px;
    left: -0.5px;
    background: transparent;
    border: none;
    z-index: 39;
    outline: none;
  }
  .section-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 6px;
    left: 16px;
    color: rgba(39, 39, 39, 0.28);
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 14px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 41;
  }
  .section-title-8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 229px;
    left: 193px;
    color: #a5a2a2;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 13px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 72;
  }
  .square-checkbox {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 234px;
    left: 165px;
    background: #ffffff;
    border: 2px solid #b6b6b6;
    z-index: 71;
  }
  
  .square-checkbox::after{
    content: '';
    width: 18px;
    height: 18px;
    background-color: #60F536;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.3s ease;
  }
  
  .square-checkbox.checked::after {
    transform: translate(-50%, -50%) scale(1);
  }
  .section-title-9 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 299px;
    left: 165px;
    color: #272727;
    font-family: 'Noto sans', var(--default-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 34;
  }
  .bg-a {
    position: absolute;
    width: 13.52%;
    height: 4.88%;
    top: 41.1%;
    left: 10.33%;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 11;
  }
  .input-b {
    position: absolute;
    width: 216px;
    height: 40px;
    top: -0.5px;
    left: -0.5px;
    background: transparent;
    border: none;
    z-index: 12;
    outline: none;
  }
  .name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 20px;
    top: 10px;
    left: 8px;
    color: #000000;
    font-family: Roboto, var(--default-font-family);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    z-index: 73;
  }
  .bg-c {
    position: absolute;
    width: 13.52%;
    height: 4.88%;
    top: 41.1%;
    left: 24.66%;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 14;
  }
  .input-d {
    position: absolute;
    width: 216px;
    height: 40px;
    top: -0.5px;
    left: -0.5px;
    background: transparent;
    border: none;
    z-index: 15;
    outline: none;
  }
  .middle-name {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 18px;
    top: 10px;
    left: 4px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    white-space: nowrap;
    z-index: 75;
  }
  .bg-e {
    position: absolute;
    width: 27.85%;
    height: 4.88%;
    top: 47.44%;
    left: 10.33%;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 5;
  }
  .input-f {
    position: absolute;
    width: 445px;
    height: 40px;
    top: -0.5px;
    left: -0.5px;
    background: transparent;
    border: none;
    z-index: 6;
    outline: none;
  }
  .address-phone {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 8px;
    left: 6px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 35;
  }
  .bg-10 {
    position: absolute;
    width: 27.85%;
    height: 4.88%;
    top: 53.78%;
    left: 10.33%;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 8;
  }
  .input-11 {
    position: absolute;
    width: 445px;
    height: 40px;
    top: -0.5px;
    left: -0.5px;
    background: transparent;
    border: none;
    z-index: 9;
    outline: none;
  }
  .ghi-chu-van-chuyen {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 10px;
    left: 11px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 76;
  }
  .bg-12 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 493px;
    left: 165px;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 17;
  }
  .thanh-pho {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 7.5px;
    left: 16.5px;
    color: #000000;
    font-family: 'Noto sans', var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 77;
  }
  .bg-13 {
    position: absolute;
    width: 140px;
    height: 40px;
    top: 493px;
    left: 317px;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 19;
  }
  .ma-buu-dien {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 7.5px;
    left: 11.5px;
    color: #000000;
    font-family: 'Noto sans', var(--default-font-family);
    font-size: 14px;
    font-weight: 300;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    z-index: 78;
  }
  .bg-14 {
    position: absolute;
    width: 8.76%;
    height: 4.88%;
    top: 60.12%;
    left: 29.35%;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 21;
  }
  .flex-row-d {
    position: absolute;
    width: 65%;
    height: 70%;
    top: 13.75%;
    left: 6.07%;
    z-index: 79;
  }
  .label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 32.14%;
    top: 0;
    left: 0;
    color: #606060;
    font-family: Helvetica, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    text-align: left;
    white-space: nowrap;
    z-index: 26;
  }
  .tinh {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 12px;
    top: 0;
    left: 2px;
    color: #000000;
    font-family: 'Noto Sans', var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    white-space: nowrap;
    z-index: 79;
  }
  .line-15 {
    position: absolute;
    width: 0.27%;
    height: 100%;
    top: 0;
    left: 100%;
    background: url(../image/images/86fc7547-03da-450d-91ad-d019f2fbf695.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 25;
  }
  .chevron-down {
    position: absolute;
    width: 7.14%;
    height: 25%;
    top: 36.25%;
    left: 81.79%;
    z-index: 23;
    overflow: hidden;
  }
  .vector {
    position: relative;
    width: 8.626px;
    height: 4.876px;
    margin: 2.562px 0 0 0.69px;
    background: url(../image/images/df412f50-4d9c-4bcb-be8f-c9baaca8d2d5.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 24;
  }
  .quan {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 17px;
    top: 16.5px;
    left: 8.5px;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 16.943px;
    text-align: left;
    white-space: nowrap;
    z-index: 80;
  }
  .bg-16 {
    position: absolute;
    width: 27.85%;
    height: 4.88%;
    top: 66.46%;
    left: 10.26%;
    background: #ffffff;
    border: 0.5px solid #898989;
    z-index: 28;
  }
  .flex-row-ecc {
    position: absolute;
    width: 94.38%;
    height: 85%;
    top: 13.75%;
    left: 2.13%;
    z-index: 42;
  }
  .regroup-i {
    position: absolute;
    width: 5.95%;
    height: 100%;
    top: 0;
    left: 94.05%;
    z-index: 32;
  }
  .line-17 {
    position: absolute;
    width: 1%;
    height: 82.35%;
    top: 0;
    left: 0;
    background: url(../image/images/1b2272c1-a804-4f81-bd43-f794e007c6fd.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 32;
  }
  .chevron-down-18 {
    position: absolute;
    width: 40%;
    height: 29.41%;
    top: 26.47%;
    left: 60%;
    z-index: 30;
    overflow: hidden;
  }
  .vector-19 {
    position: relative;
    width: 8.626px;
    height: 4.876px;
    margin: 2.562px 0 0 0.69px;
    background: url(../image/images/83d37bcc-466c-4737-94d7-a96b132207cf.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 31;
  }
  .section-title-1a {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 8px;
    left: 0;
    color: #272727;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 12px;
    font-weight: 900;
    line-height: 25.6px;
    text-align: left;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 42;
  }
  .label-1b {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 22.5%;
    top: 18.75%;
    left: 1.91%;
    color: #606060;
    font-family: Helvetica, var(--default-font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 9px;
    text-align: left;
    white-space: nowrap;
    z-index: 33;
  }
  .sao-luu-thong-tin {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 15.52%;
    height: 2.2%;
    top: 72.44%;
    left: 11.7%;
    color: #a2a2a2;
    font-family: Source Serif 4, var(--default-font-family);
    font-size: 13px;
    font-weight: 900;
    line-height: 17.823px;
    text-align: center;
    white-space: nowrap;
    z-index: 82;
  }
  .square-checkbox-1c {
    position: absolute;
    width: 1%;
    height: 1.95%;
    top: 72.68%;
    left: 10.33%;
    background: #ffffff;
    border: 2px solid #b6b6b6;
    z-index: 84;
  }
  .button-1d {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
    position: absolute;
    width: 246px;
    height: 40px;
    top: 678px;
    left: 387px;
    padding: 8px 44px 8px 44px;
    cursor: pointer;
    background: #29a13e;
    border: none;
    border-radius: 4px;
  }
  .button-1e {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-basis: auto;
    position: relative;
    width: 158px;
    height: 24px;
    color: #ffffff;
    font-family: Roboto, var(--default-font-family);
    font-size: 20.645160675048828px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    white-space: nowrap;
    z-index: 1;
  }
  .back {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 26px;
    top: 685px;
    left: 165px;
    color: #29a13e;
    font-family: Roboto, var(--default-font-family);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.6px;
    text-align: left;
    text-decoration: underline;
    white-space: nowrap;
    letter-spacing: -0.9px;
    z-index: 2;
  }
  
  
  